{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": "off",
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": "off"
  }
}
